{{define "edge_sorts"}}
    {{- $descriptor := . -}}
    {{if gt (len .SortList) 0}}
        for _, param := range param.Orders() {
        switch param {
        {{- range $_,$sort := .SortList -}}
            case "{{$sort.Param}}":
            eorders = append(eorders, ent.{{$sort.Order}}({{range $_,$column :=  $sort.Columns}}{{camel $descriptor.Edge.Type.Name}}.Field{{pascal $column}},{{end}}))
        {{end -}}
        }
        }
    {{end}}
{{end}}